<div class="container container animate__animated animate__fadeIn">

    <div class="titulo">
        <h2 >
          In this section, you can find a few projects that I have made.
        </h2>
        <small>Touch the image to go to the app.</small>
    </div>


  <div class="proyectos">

    <div class="card" *ngFor="let item of proyectos">
        <a [href]="item.link" target="_blank">
            <img class="img-pr" [src]="item.path" [alt]="item.alt">
        </a>

        <div class="info">
            <p>{{item.descripcion}}</p>

            <div class="repo">
                <p>Repository</p> 
                <a [href]="item.repositorio" class="link-repo" target="_blank"> 
                    <img class="img-git" src="../../../../assets/github.png" alt="Github">
                </a>

            </div>
            
        </div>
      

    </div>


  </div>


</div>
