.navbar{
    min-width: 450px;
    height: 60px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
    
}

.logo{
    margin-left: 20px;
    font-size: 45px;
    text-decoration: none;
}

.nav{
    margin-right: 20px;
}

.link{
    text-decoration: none;
    margin: 20px;
    font-size: 23px;
    transition: all .2s ease-out;

}

.link:hover{
    color: rgba(240, 229, 75, .8);
    transition: all .2s ease-out;

}

.active{
    font-weight: 900;
    text-decoration: underline;
}

.btn{
    display: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.header__svg{
    width:2em;
    height:2em;
    fill:white;
}



/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {

    .navbar{
        height: fit-content;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;


    }
    .logo-btn{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin: 10px;
        
    }

    .link{
        margin: 15px;
    }

    .links{
        width: 100%;
        text-align: center;
        flex-direction: column;

    }

    .btn{
        display: flex;
    }

    .links{
        display: none;
    }
    
    .visible{
        display: flex;
    }



}