
<div class="container animate__animated animate__fadeIn">

    <div class="contenido">
        <div class="presentacion">
            <h2>Hola, mi nombre es Javier Morales. </h2>
        </div>

        <div class="descripcion">
            <p>
                Soy un estudiante, amante del desarrollo web, este es mi portafolio
                donde podrás <a routerLink="/about" class="link-alt">conocerme</a> 
                y donde tambien podrás ver los <a routerLink="/projects" class="link-alt"> proyectos </a>que he realizado.
            </p>
            <br>
            
        </div>


        <div class="contacto">
            <span>Ponte en contacto conmigo :)</span>
            <a routerLink="/contact" class="cta-contacto">Contactame</a>

        </div>


            <!-- Carrusel -->
        <div class="carrusel">
                <h3>Estas son algunas de las tecnologias con las que he trabajado:</h3>
                <app-carousel ></app-carousel>

                
        </div>

        

    </div>
</div>
