
<div class="container animate__animated animate__fadeIn">

    <div class="contenido">
        <div class="presentacion">
            <h2>Hi, i'm Javier Moralesss</h2>
        </div>

        <div class="descripcion">
            <p>
                I'm a student, web developing lover and this is my portfolio where you can 
                <a routerLink="/about" class="link-alt"> know more about me</a> 
                and also see the <a routerLink="/projects" class="link-alt"> projects </a>  that I have done.</p>
            <br>
            
        </div>


        <div class="contacto">
            <span>Get in touch with me :)</span>
            <a routerLink="/contact" class="cta-contacto">Let's go</a>

        </div>


            <!-- Carrusel -->
        <div class="carrusel">
                <h3>These are some technologies I have worked with:</h3>
                <app-carousel ></app-carousel>

                
        </div>

        

    </div>
</div>
